########################################################################
#  您需要手工替换 arms.licenseKey(从界面获取) 及 arms.appName（接入应用名称）
#
#  样例：
#  arms.licenseKey=XXXXXXXXXXXXXXX
#  arms.appName=Demo-Service
#
########################################################################

arms.licenseKey=ARMS_LICENSE_KEY

arms.appName=ARMS_APP_ID


########################################################################
#  以下为 ARMS Agent 的系统默认配置，请勿修改
########################################################################

profiler.collector.ip=arms-dc-hz.aliyuncs.com

profiler.acm.endpoint=addr-hz-internal.edas.aliyun.com
profiler.acm.tenant=c845a7b4-23a1-4f28-a380-5ab30d8a280f
profiler.acm.region.id=cn-hangzhou

# placeHolder support "${key}"
profiler.collector.span.ip=${profiler.collector.ip}
profiler.collector.span.port=8883

# placeHolder support "${key}"
profiler.collector.stat.ip=${profiler.collector.ip}
profiler.collector.stat.port=8443

# placeHolder support "${key}"
profiler.collector.tcp.ip=${profiler.collector.ip}
profiler.collector.tcp.port=8442

# agent自身排查日志等级 ERROR < WARN <  INFO <  DEBUG < TRACE
# 优先级高的设置将输出优先级低等级的日志
profiler.agent.logger.level=WARN

# 全局配置：控制Agent是否工作（false为关闭埋点，修改慎重）
profiler.enable=ARMS_ENABLE

# 全局配置：采样功能是否开启 (false为关闭采集, 修改慎重)
profiler.sampling.enable=SAMPLING_ENABLE

# 全局配置：采样率设置规则百分比（100:100%, 50:50%, 20:20%, 10:10%, 5:5%）
profiler.sampling.rate=SAMPLING_RATE

###########################################################
# dubbo                                                   #
###########################################################
profiler.dubbo.enable=true

###########################################################
# google-httpclient                                       #
###########################################################
profiler.googlehttpclient.enable=true

###########################################################
# ali-hsf                                                 #
###########################################################
profiler.hsf.enable=true

###########################################################
# httclient3                                              #
###########################################################
profiler.httpclient3.enable=true

###########################################################
# httclient4                                              #
###########################################################
profiler.httpclient4.enable=true

###########################################################
# jdk-http                                                #
###########################################################
profiler.jdkhttp.enable=true

###########################################################
# jetty                                                   #
###########################################################
profiler.jetty.enable=true

###########################################################
# mybatis                                                 #
###########################################################
profiler.mybatis.enable=true

###########################################################
# mysql-jdbc                                              #
###########################################################
profiler.mysql.enable=true

###########################################################
# okhttp                                                  #
###########################################################
profiler.okhttp.enable=true

###########################################################
# oracle-jdbc                                             #
###########################################################
profiler.oracle.enable=true

###########################################################
# postgresql-jdbc                                         #
###########################################################
profiler.postgresql.enable=true

###########################################################
# redis                                                   #
###########################################################
profiler.redis.enable=true

###########################################################
# spring                                                  #
###########################################################
profiler.spring.enable=true

###########################################################
# spring-boot                                             #
###########################################################
profiler.springboot.enable=true

###########################################################
# tomcat                                                  #
###########################################################
profiler.tomcat.enable=true

###########################################################
# mongodb                                                 #
###########################################################
profiler.mongodb.enable=true

###########################################################
# lettuce                                                 #
###########################################################
profiler.lettuce.enable=true

###########################################################
# GRPC                                                    #
###########################################################
profiler.grpc.enable=true

###########################################################
# Thrift                                                  #
###########################################################
profiler.thrift.enable=true

###########################################################
# Memcached                                               #
###########################################################
profiler.memcached.enable=true

# 配置无效URL
profiler.defined.excludeurl=

profiler.thresholds.limit=100

profiler.defined.method=

profiler.callstack.maxLength=128

profiler.callsql.maxLength=1024

profiler.tprof.enableThreadProfiler=true
